{% extends 'EndroidSiteBundle::layout.html.twig' %}

{% block title %}
    Sitemap - {{ parent() }}
{% endblock %}

{% block content %}

    <h1>Sitemap</h1>

    {% for menu in menus %}

        <ul class="nav nav-pills nav-stacked">

            {% for child in menu.children %}

                <li><a href="{{ child.uri }}">{{ child.name }}</a>

                    {% if child.children|length > 0 %}

                        <ul class="nav nav-pills nav-stacked">

                            {% for subChild in child.children %}

                                <li><a href="{{ subChild.uri }}">{{ subChild.name }}</a>

                            {% endfor %}

                        </ul>

                    {% endif %}

                </li>

            {% endfor %}

        </ul>

    {% endfor %}

{% endblock content %}
