{% extends 'EndroidSiteBundle::layout.html.twig' %}

{% block title %}
    {{ page.title|trans }} - {{ parent() }}
{% endblock %}

{% block language_selector %}
    {% for locale in locales %}
        <a href="{{ path('endroid_page_page_show', { slug: page.translatable.translation(locale).slug, _locale: locale }) }}"><img src="{{ asset('bundles/endroidsite/img/flag_' ~ locale ~ '.png') }}" width="35" /></a>
    {% endfor %}
{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>
    {{ page.content|raw }}

    {% if page.form %}

        {{ show_form(page.form.id) }}

    {% endif %}

{% endblock content %}
