{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="nowrap">

        {% if object.translatable %}

            {% set llocales = {} %}
            {% for translation in object.translatable.translations %}
                {% set llocales = llocales|merge({ (translation.locale): translation }) %}
            {% endfor %}

            {% for code in locales  %}
                {% if code in llocales|keys %}
                    <a href="{{ admin.generateObjectUrl('edit', llocales[code]) }}"><img alt="{{ code }}" src="{{ asset('bundles/endroidbehavior/img/flag/' ~ code ~ '.gif') }}" /></a>&nbsp;
                {% else %}
                    <a href="{{ admin.generateObjectUrl('create', object, { 'locale': code, 'translatable': object.translatable.id }) }}"><img class="grayscale" alt="{{ code }}" src="{{ asset('bundles/endroidbehavior/img/flag/' ~ code ~ '.gif') }}" /></a>&nbsp;
                {% endif %}
            {% endfor %}

        {% endif %}

    </div>
{% endblock %}