{% extends 'EndroidNewsBundle::layout.html.twig' %}

{% block content %}

    <h1>{{ 'news'|trans }}</h1>

    {% for article in pagination %}

        <div class="well well-large">
            <h2>{{ article.title }}</h2>
            <p>{{ article.translatable.date|date('Y-m-d') }}</p>
            <p>{% thumbnail article.translatable.image, 'small' %}</p>
            <p>{{ article.content|striptags }}</p>
            <p><a href="{{ path('endroid_news_article_show', { slug: article.slug }) }}">{{ 'read_more'|trans }}</a></p>
        </div>

    {% endfor %}

    {{ knp_pagination_render(pagination) }}

{% endblock content %}
