{% extends 'EndroidNewsBundle::layout.html.twig' %}

{% block title %}
    {{ article.title|trans }} - {{ parent() }}
{% endblock %}

{% block language_selector %}
    {% for locale in locales %}
        <a href="{{ path('endroid_news_article_show', { slug: article.translatable.translation(locale).slug, _locale: locale }) }}"><img src="{{ asset('bundles/endroidsite/img/flag_' ~ locale ~ '.png') }}" width="35" /></a>
    {% endfor %}
{% endblock %}

{% block content %}

    <h1>{{ article.title }}</h1>
    {{ article.content|raw }}
    <p>{% thumbnail article.translatable.image, 'big' %}</p>
    <a href="{{ path('endroid_news_article_index') }}">Terug naar het nieuwsoverzicht</a>

{% endblock content %}
