<!DOCTYPE html>
<html>
    <head>

        {% block head %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>{% block title %}Symfony Application{% endblock %}</title>

            {% stylesheets
                'bundles/endroidsite/css/bootstrap.min.css'
                'bundles/endroidsite/css/main.css'
                    filter='cssrewrite,?yui_css'
                    output='compiled/main.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}

            {% include "CmfCreateBundle::includecssfiles.html.twig" %}

        {% endblock head %}

        {{ google_analytics_tracker('default') }}

    </head>
    <body>

        {% block body %}

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('endroid_site_home_index') }}">Symfony Application</a>
                    <div class="nav-collapse collapse">

                        {{ knp_menu_render('menu_main') }}

                        <div class="pull-right">
                            {% include "EndroidSearchBundle:Search:form.html.twig" %}
                        </div>

                        <div id="language-selector" class="pull-right">
                            {% block language_selector %}
                                {% for locale in locales %}
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}"><img src="{{ asset('bundles/endroidsite/img/flag_' ~ locale ~ '.png') }}" width="35" /></a>
                                {% endfor %}
                            {% endblock %}
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">

                {% block content %}

                {% endblock content %}

            </div>

            <div class="container">
                <hr>
                <footer>
                    <p class="pull-right">&copy; Symfony Application {{ 'now'|date('Y') }}</p>
                    <p>
                        {{ knp_menu_render('menu_footer') }}
                    </p>
                </footer>
            </div>

            {% javascripts
                'bundles/endroidsite/js/jquery.min.js'
                'bundles/endroidsite/js/bootstrap.min.js'
                'bundles/endroidsite/js/main.js'
                    filter='?yui_js'
                    output='compiled/main.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}

            {# Create JS Javascript files #}
            {% render(controller(
            "cmf_create.jsloader.controller:includeJSFilesAction",
            {'_locale': app.request.locale}
            )) %}

        {% endblock body %}

    </body>
</html>
