{% extends 'EndroidSiteBundle::layout.html.twig' %}

{% block title %}
    {{ 'search'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}

    <h1>{{ 'search_results'|trans }}</h1>

    {% if query == '' %}

        {{ 'no_search_term'|trans }}

    {% elseif pagination|length == 0 %}

        {{ 'no_results_for_query'|trans }} <em>{{ query }}</em>.

    {% else %}

        {{ 'results_for_query'|trans }} <em>{{ query }}</em>.

        {% for result in pagination %}

            {% if result|class == 'Endroid\\Bundle\\PageBundle\\Entity\\Page' %}

                {{ include('EndroidPageBundle:Page:search.html.twig', { 'page': result }) }}

            {% elseif result|class == 'Endroid\\Bundle\\NewsBundle\\Entity\\Article' %}

                {{ include('EndroidNewsBundle:Article:search.html.twig', { 'article': result }) }}

            {% endif %}

        {% endfor %}

        <div>
            {{ knp_pagination_render(pagination) }}
        </div>

    {% endif %}

{% endblock content %}
